<!doctype html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django ASH Blog</a></h1>
    </div>

    <div>
        <p>published: 24.03.2024, 15:35</p>
        <h2><a href="">Мой первый пост</a></h2>
        <p>
            Привет меня зовут Ash. Я программист самоучка и сейчас изучаю Python/Django.
            С помощью фреймворка Django я создал этот блог.
            Впереди меня ждет еще более захватывающие приключение в мир программирования,
            но я уже рад как ребенок своими результатами :).
        </p>
    </div>

    <div>
        <p>published: 24.03.2024, 15:35</p>
        <h2><a href="">Мой второй пост</a></h2>
        <p>
            В этом посте я бы хотел рассказать о том, что по моему мнению из себя представляет программирование.<br>
            Программирование это отдельная влесенная в которой есть только одно правило, никаких правил нет!
            Тебя может ограничевать только твое собственное воображение, ты можешь построить новый мир без боли, ненависти и страданий.
            Ты становишься подобно богу который может творить и создавать.
        </p>
    </div>
</body>
</html>

